#top{
    display: grid;
    grid-template-columns: 200px 75px;
    margin-bottom: 50px;
}
#grid1{
    background-color: lightblue;
}
#grid2{
    background-color: lightpink;
}


#top1{
    display: grid;
    grid-template-columns: 50px 1fr 75px;
    margin-bottom: 50px;
}
#col1{
    background-color: lightblue;
}
#col2{
    background-color: lightpink;
}
#col3{
    background-color: lightblue;
}

#top3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 20px;
    margin-bottom: 100px;
}

.a{
    background-color: lightgreen;
}
